:root {
    /* 游꿛 Colores principales */
    --primary-color: #4a4a4a;
    --primary-color-alt: #575757;
    --linear-gradient: linear-gradient(54deg, rgba(45, 45, 45, 0.95) 34%, rgba(45, 45, 45, 0.95));
    --header-height: 3.5rem;
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    --border-color: #f1f1f1;

    /* 游댟 Tipograf칤a */
    --roboto-font: 'Roboto', sans-serif;
    --mono-font: 'Roboto Mono', monospace;

    /* 游 Tama침os de texto */
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-lg: 2.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    /* 游눩 Pesos tipogr치ficos */
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

/* 游빞 Reset b치sico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--roboto-font);
    font-size: var(--fs-base);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5rem;
}

h1, h2, h3, h4 {
    font-family: var(--mono-font);
    font-weight: var(--bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
}

input,
textarea {
    background: none;
    border: none;
    outline: none;
}

/* 游닍 Contenedor general */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0.9rem;
}

.grid {
    display: grid;
}

/* 游닄 Secciones */
.section {
    padding: 3.75rem 0;
}

.sectiontitulo {
    font-size: var(--fs-h2);
    line-height: 1.17rem;
    font-weight: var(--medium);
    margin-bottom: 1.12em;
}

.textlg{
  font-family: var(--mono-font); 
  font-size: var(--fs-base);     
  line-height: 1.67em;          
  opacity: 0.4;                  
  color: #555;               
  margin-bottom: 0.94em;         
}

.textsm {
    font-size: var(--fs-sm);
    line-height: 1.43em;
}

/* 游빐 Navegaci칩n */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    height: calc(var(--header-height) + 0.875rem);
    display: flex;
    align-items: flex-end;
}

.navlist {
    display: flex;
    column-gap: 3.25rem;
    padding-left: 2rem;
}

.navlink {
    position: relative;
    color: #fff;
    font-size: 0.9rem;
    font-weight: var(--bold);
    font-family: var(--mono-font);
    text-transform: uppercase;
    transition: 0.3s;
}

.navlink:hover {
    opacity: 0.5;
}

.navlink::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 7px;
    height: 2px;
    background-color: #fff;
}

.navclose,
.navtoggle {
    display: none;
}

/* 九勇 Link activo */
.linkactivo {
    opacity: 0.5;
}

.linkactivo::after {
    opacity: 1;
}

/* 游 Hero / Home */
.home {
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 5.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
    z-index: 1;
}

.home__container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
    position: relative;
    z-index: 2;
}

.home__img,
.home__data {
    z-index: 2;
}

.home__img {
    width: 90%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.3rem;
    transform: translateY(3.125rem);
    box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
}

.homename,
.homework,
.homelist,
.homesocials {
    color: #fff;
    font-family: var(--mono-font);
}

.homename {
    font-size: var(--fs-h1);
    line-height: 1.14rem;
    margin: 0.9em 0 0.23em;
}

.homework {
    margin-bottom: 2.5em;
}

.homelist dt {
    float: left;
    font-weight: var(--bold);
    opacity: 0.4;
}

.homelist dd {
    padding-left: 6.25rem;
    margin-bottom: 0.94em;
}

.homesocials {
    margin: 1.25rem 0 2.2rem;
}

.home__socials-link {
    font-size: 1.7rem;
    line-height: 1.36em;
    color: #f1f1f1;
    opacity: 0.4;
    transition: 0.3s;
}

.home__socials-link:hover {
    opacity: 1;
}

.hellodetalles{
    margin-bottom: 1.67em;
    text-align: justify;
    color: #4a4a4a;
}


.button{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1.1em 2.1em;
    border-radius:1.56rem ;
    font-weight:var(--semibold) ;
    transition: 0.3s;
}

.buttonflex{
    background-color: var(--primary-color-alt);
    align-items:  flex-start;
    column-gap: 0.3rem;
}

/*servicios*/

.servicioscontenedor{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.87rem;
}

.serviciositems{
    border: 1px solid var(--border-color);
    padding: 2.5rem 1.25rem 1.879rem;
    text-align: center;
}

.iconbox{
    border: 1px solid var(--border-color);
    width: 82px;
    height: 82px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.25rem; 
    position: relative;
    display: flex;

}

.serviciosicon{
    width: 32px;
    margin: auto;
}

.serviciosdot{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: serviciosdot 2s linear infinite;
    animation-play-state:paused;
}

.serviciositems:hover .serviciosdot{
    animation-play-state: running;
}

@keyframes serviciosdot{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(1turn);
    }
}

.dot{
    width: 13px;
    height: 13px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0.9rem;
}

.serviciostitulo{
    margin-bottom: 0.8rem;
}

/*resume*/
.resumecontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Aseg칰rate de que esto est칠 correcto */
    column-gap: 3.75rem;
}

.resumetitulo{
    color: var(--text-color);
    letter-spacing: 0.4em;
    margin-bottom: 2.8em;
}

.text-xs{
    font-size: var(--fs-xs);
    line-height: 1.5rem;

}

.resumeitem{
    border-left: 2px solid var(--primary-color);
    padding-left: 1.6rem;
    position: relative;
}

.resumeitem:not(:last-child){
    padding-bottom: 3rem;
}

.resumeitem::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    position: absolute;
    left: -0.56rem;
    background-color: var(--bg-color);
}



/* Habilidades */
.habcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear a la izquierda */
    margin-top: 2rem; /* Espacio superior */
}

.habilidadestitulo {
    font-size: var(--fs-lg);
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.hablista {
    list-style: none; /* Eliminar vi침etas */
    padding: 0; /* Eliminar padding */
    width: 100%; /* Ancho completo */
    max-width: 800px; /* Ancho m치ximo */
    margin: 0; /* Sin margen */
}

.habitem {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    background: #f9f9f9; /* Fondo claro */
    color: #4a4a4a; /* Color del texto */
    padding: 1rem;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 1rem; /* Espacio entre elementos */
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    width: calc(100% - 20px); /* Ancho completo menos un margen */
}

.habitem:hover {
    transform: translateY(-3px); /* Efecto de elevaci칩n */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra m치s intensa al pasar el mouse */
}

.icon {
    font-size: 2rem; 
    margin-right: 1rem; 
    color: var(--primary-color); 
}

.text {
    font-weight: bold; 
}


.habitem {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.habitem.active {
    opacity: 1; 
    transform: translateY(0); 
}
/* proyectos */

.proyectocategoria{
    display: flex;
    column-gap: 3rem;
    margin-bottom: 1.875rem;
}

.categoriabtn{
    color: var(--text-color-alt);
font-weight: var(--bold);
font-family: var(--mono-font);
position: relative;
}

.categoriabtn:hover{
    color: var(--primary-color);

}

.categoriabtn::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 7px;
    height: 2px;
    background-color: var(--primary-color);
    opacity: 0;
    transition: 0.3s;
}

.categoriabtn:hover::after{
    opacity: 1;
}

.workactivo::after{
    opacity: 1;

}

.proyectoscontainer{
    row-gap: 2.5rem;
}

.proyectoitem{
    grid-template-columns: 5fr 7fr;
}

.proyectoimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proyectodata{
    padding: 3rem 3rem 2.5rem 1.875rem;
    border: 1px solid var(--border-color);
}

.proyectotitulo{
    margin-bottom: 0.8em;
    text-align: justify;
}
.proyectodescripcion{
    margin-bottom: 2.5em;
    text-align: justify;
}

.proyectostack{
    margin-bottom: 1.2em;
}

.tags li{
    display: inline-block;
    margin-right: 0.6rem;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;

}

.proyectolink{
    float: right;
    margin-top: 3.9em;
    color: var(--mono-font);

}

/* contacto */

.contacto{
    background:url(../img/bg.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.contacto::before{
    content: '';
    background: var(--linear-gradient);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.contactocontenido{
    z-index: 10;
    position: relative;
}

.contactocontainer{
    grid-template-columns: 4fr 5fr 3fr;
    column-gap: 1.875rem;
    padding-top: 1.25rem;
}

.contact .secciontitulo,
.contactolista,
.contactosociallink,
::placeholder,
.contactoinput,
.secciontitulo,
.contactoformtitulo,
.footercopy{
    color: #fff;
    font-family: var(--mono-font);
}

.contactolista{
    margin-bottom: 3.25rem;

}

.contactolista dt{
    float: left;
    font-weight: var(--bold);
    text-transform: uppercase;
}

.contactolista dd{
    padding-left:6.25rem ;
    margin-bottom: 0.94;
}

.contactosocial li{
    margin-bottom: 0.75rem;
    font-family: var(--roboto-font);
}

.contactoform{
    position: relative;
    
}
.contactoformtitulo{
    margin-bottom: 1.25rem;
}

.contactoinputdiv{
    margin-bottom: 0.94rem;
}

.contactoinput{
    width: 100%; border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 0.625rem;
}

.textarea{
    height: 7.2rem;
    resize: none;
}

.contactoinput:focus{
    box-shadow: inset 0 0 5px 0 #ffff;
}

.contactomensaje{
    position: absolute;
    bottom: 33%;
    left: 0;
    font-family: var(--mono-font);
    color: #fff;    
}

.color-light{
    opacity: 0;
}

.color-dark{
    opacity: 0.4;
}

.contactoboton{
    margin-top: 1.875rem;
    width: 100%;
    box-shadow: 0 1px 29px rgb(0 0 0 / 40%);
}

.footercopy{
    opacity: 0.4;
    margin-top: 3.75rem;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}