.head {
    background-color: #caf0f8;
    height: 40px;
  }
  
  .mai {
    background-color: #48cae4;
    min-height: 30px;
  }
  
  .foo {
    background-color: #0096c7;
    height: 30px;
   
  }
  