.imagen{
    width: 200px;
    border-radius: 10px;
    
}

.titulodatos{
    color: rgb(9, 2, 44);
    font-family: fantasy;
    font-size: 60px;
    text-align: center;


}
.des{
    background-color: rgb(214, 173, 124);
    border: 20px;
    border-color: aqua;
    text-align: center;
    
}
.edad
{
    font-size: 50px;
font-family: fantasy;

}

.boton
{
padding: 10px 20px;
  background-color: #ff5303;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: none;
}