.titulodelapagina{
    color: rgb(183, 0, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;   
    font-weight: 800;
    color: rgb(65, 42, 87);
}



.linkderepositorio{
    color: rgb(255, 0, 191);
}
.contenedor{

background-color: beige;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;
font-weight: 800;
color: rgb(0, 0, 0);
border: solid 2px;
border-color: rgb(1, 10, 17);
border-radius: 10px;
padding: 1%;
margin: 10px;
}